<div class="footer mt-auto py-3 color-primary">
    <div class="container">
        <div class="row first align-items-center">
            <div class="col-md-3">
                <h2>À propos de nous</h2>
                <p>Nous sommes une plateforme en ligne permettant aux utilisateurs de partager leurs avis sur divers films, lieux et services.</p>
            </div>
            <div class="col-md-3">
                <h2>Liens utiles</h2>
                <ul class="list-unstyled">
                    <li><a routerLink="/home">Accueil</a></li>
                    <li><a routerLink="/about">À propos</a></li>
                    <li><a routerLink="/contact">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Suivez-nous</h2>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>
<div class=" footer-b d-flex justify-content-center align-items-center">
    <p class="mb-0">&copy; 2024 Site d'Avis en Ligne créé par M. Pascal AGBA, M. Moussa KONE et M. Abdoulaye MBAYE. Tous droits réservés.</p>
</div>
